.wave {
    animation: wave 10s infinite linear;
}

@keyframes wave {
    0% {
        transform: translate(110vw, 0);
    }

    30% {
        transform: translate(75vw, -5em);
    }

    40% {
        transform: translate(60vw, 0em);
    }

    50% {
        transform: translate(50vw, 5em);
    }

    65% {
        transform: translate(25vw, -5em);
    }

    80% {
        transform: translate(0vw, 0em);
    }

    85% {
        transform: translate(-10vw, 5em);
    }

    90% {
        transform: translate(-35vw, 0em);
    }

    100% {
        transform: translate(-110vw, 0em);
    }
}