@media (prefers-color-scheme: dark) {
    body,html {
        background-color: #333;
        color: #f5f5f5;
    }

    body :is(li, a):hover {
        border-color: #f5e4d3;
    }

    button {
        background-color: #322e2e;
        border-width: 4px;
        border-color: inherit;
        border-style: outset;
    }
}
