/* theme button */
html > body button#theme{
    position: fixed;
    top: 0;
    right: 0;
}
button#theme:has(img) {
    background-color: transparent;
    border: none;
    display: inline-block;
}


/* navbar */
nav,
nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

li {
    width: 100%;
    height: 100%;
}

body {
    background-color: #989898;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 2px 1.05em;
    padding-top: .1vmin;
    flex: auto;
    display: flex;
    flex-direction: column;
}


/* Expand to page size */
html {
    display: flex;
    min-height: 100vmin;
}

body,main {
    flex-grow: 1;
}

body>footer,
body>header {
    flex-shrink: 1;
}



/* Responsive/Activ(ities) */
body nav ul>li:hover {
    /* background-color: currentColor; */
    /* filter: brightness(86%); */
    outline-style: inset;
    background-color: hsla(0, 0%, 33%, 0.855);
    border-color: currentColor;
    outline-width: 2px;
}


/* buttons */

button:hover{
    outline-style: inset;
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
    
}